[flake8]
ignore =
    A003,   ; builtins: Class attribute is shadowing a python builtin
    E800,   ; eradicate
    I004,   ; isort: Found unexpected blank line in imports
    N812,   ; pep8: Lowercase imported as non lowercase
    P101,   ; string-format: Format string contains unindexed parameters
    P103,   ; string-format: Format string contains unindexed parameters
    PIE783  ; pie: Celery explicit names (naive)
    PIE784  ; pie: Celery explicit crontab args (naive)
    PIE785, ; pie: Celery tasks should have expirations (naive)
    PIE808, ; pie: Prefer simple range
    R504,   ; return: Unnecessary variable assignement before return statement
    SIM105, ; simplify: Use contextlib.suppress instead of try-except-pass
    SIM106  ; simplify: Handle error-cases first
    SIM119, ; simplify: Use dataclass
    W503,   ;   Line break before binary operator
    W504    ;   Line break after binary operator

exclude = .git,__pycache__,build,dist
max-complexity = 10
; format = %(path)s:%(row)d:%(col)d: %(code)s %(text)s
