# Use with `pip install -r requirements-dev.txt`

# Package itself with all extras
-e .[core,io,nn,tfs,viz]

# Formatting
yapf~=0.30

# Lint
flake8
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-eradicate
flake8-isort
flake8-logging-format
flake8-pie
flake8-pyi
flake8-pytest
flake8-pytest-style
flake8-quotes
flake8-return
flake8-simplify
flake8-string-format
pep8-naming

# Types
mypy~=0.900
typing-extensions

# Tests
pytest~=6.0
requests
